<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795330384528-henp8j1vfurlfc0b4upau5eth5q4atq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795330384528-henp8j1vfurlfc0b4upau5eth5q4atq4</string>
	<key>API_KEY</key>
	<string>AIzaSyCJzI7GluspfuSfSILbfwfnI_Rs1n1JliY</string>
	<key>GCM_SENDER_ID</key>
	<string>795330384528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-a98ae</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-a98ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795330384528:ios:c9da6d500e0d369b64be15</string>
</dict>
</plist>